body {
  background-image: url(../img/body-bg.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

@media only screen and (min-width: 992px) {
  body {
    background-size: 20%;
  }
}

.bg-custom-color {
  background-color: #9b99a8;
}

#contact i.bi {
  background: #ff7036 !important;
}