body {
  background-image: url(../img/body-bg.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

@media only screen and (min-width: 992px) {
  body {
    background-size: 20%;
  }
}