.bg-custom-color {
  background-color: #F5F5F5;
}

svg.bottom-wave path {
  fill: #F5F5F5;
}

#contact i.bi {
  background: #ff7036 !important;
}



.hero-main {
  max-width: 100%;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.team-img {
  width: 100%;
}

#services img {
  max-height: 30vh;
}

.vertically-center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}