.bg-custom-color {
  background-color: #F5F5F5;
}

svg.bottom-wave path {
  fill: #F5F5F5;
}

#contact i.bi {
  background: #ff7036 !important;
}



.hero-main {
  max-width: 100%;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.team-img {
  width: 100%;
}

#services img {
  max-height: 30vh;
}

.vertically-center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* New Pricing styles */
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #272262;
  background: #f8f8f8;
}
.pricing h3.primary {
  color: #ff7036;
}
.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.pricing ul li {
  padding-bottom: 16px;
}