.bg-custom-color {
  background-color: #fafafa;
}

#contact i.bi {
  background: #ff7036 !important;
}



.hero-main {
  max-width: 100%;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.team-img {
  width: 100%;
}